@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600;1,700&display=swap");

:root {
  --neon-trees-1: #d80027;
  --neon-trees-2: #ad00d8;

  --sunshine-girl-1: #f0bb00;
  --sunshine-girl-2: #f07300;

  --condor-orange-1: #ff3e01;
  --condor-orange-2: #ff8301;

  --oopsie-purple-1: #af01d1;
  --oopsie-purple-2: #7301fe;

  --green-is-the-new-brown-1: #01fe1a;
  --green-is-the-new-brown-2: #0c8f04;

  --seventeen-twelve-1: #ecfc01;
  --seventeen-twelve-2: #ffba01;

  --torn-on-blue-1: #057993;
  --torn-on-blue-2: #0175fe;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #fff;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #151926;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
